<div class="content" id="judgements">
  <% if @judgements.empty? %>
    <p>
      You have not judged any projects yet.
    </p>
  <% else %>
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>Project</th>
          <th>Technical Score</th>
          <th>Product Score</th>
          <th>Concept Score</th>
        </tr>
      </thead>
      <tbody id="<%= dom_id(@judging_team, :judgements) %>">
        <%= render @judgements %>
      </tbody>
    </table>
  <% end %>

  <%= button_to "Judge another project", judgements_path, class: "button is-primary is-large" %>
</div>

<%= turbo_stream_from @judging_team, :judgements_redirects %>
