<div class="columns">
  <% Submission::HUMAN_READABLE_EXCELLENCE_TRACKS.keys.each do |track| %>
    <div class="column">
      <%= render 'admin/excellence_teams/team', team: @excellence_teams_by_track[track], track: track, potential_judges: @potential_judges %>
    </div>
  <% end %>
</div>
