<div id="<%= dom_id submission %>">
  <p>
    <strong>Title:</strong>
    <%= submission.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= submission.description %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= submission.url %>
  </p>

</div>
