<div id="submissions">
  <% @submissions.each do |submission| %>
    <div class="tile is-6 notification">
      <div>
        <%= render submission %>
        <p>
          <%= link_to "Show this submission", submission if policy(submission).show? %>
        </p>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "New submission", new_submission_path %>
