.navbar-brand {
  align-items: center;
}

.navbar-brand .navbar-item {
  gap: 3px;
}

#navbar-logo-header svg {
  margin-top: -6px;
}

#navbar-logo-header span {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.5em;
}

.navbar-dropdown .navbar-item {
  gap: 5px;
}

.navbar #clock .time {
  display: flex;
}

.navbar #clock .time .blink {
  animation: blink 2s infinite;
}

@keyframes blink {
  50% { opacity: 0.2; }
}

#current-judgement .icon {
  width: 2.5em;
  height: 2em;
}
