.submission-display .show-card {
  display: none;
}

#submissions .list .card-content {
  max-height: 250px;
  overflow-y: auto;
}

.submission-title {
  align-items: baseline;
}

.submission-track {
  margin-left: 1em;
}

.admin-submissions-header {
  align-items: end;
}
