.submission-display .show-card {
  display: none;
}

.team-selector ul {
  margin: 0;
}

.team-selector input[type="radio"] {
  display: none;
}

.label.iconized {
  display: flex;
  align-items: center;
  column-gap: 0.3em;
}

.team-selector input[type="radio"]:checked + label>a {
  background-color: var(--bulma-tabs-toggle-link-active-background-color);
  border-color: var(--bulma-tabs-toggle-link-active-border-color);
  color: var(--bulma-tabs-toggle-link-active-color);
  z-index: 1
}

#submissions .list .card-content {
  max-height: 250px;
  overflow-y: auto;
}

.submission-title {
  align-items: baseline;
}

.submission-track {
  margin-left: 1em;
}

.admin-submissions-header {
  align-items: end;
}

#comment_form form {
  width: 100%;
}
