.level-left.is-flex-grow-1 {
  padding-right: 12px;
}

.cell .mini {
  display: none !important;
}

td .maxi {
  display: none !important;
}

.display-mark {
  display: block !important;
}

.edit-mark {
  display: none !important;
}

.editable .display-mark {
  display: none !important;
}
.editable .edit-mark {
  display: block !important;
}

.technical-judge .technical-vote .display-mark {
  display: none !important;
}
.technical-judge .technical-vote .edit-mark {
  display: block !important;
}

.product-judge .product-vote .display-mark {
  display: none !important;
}
.product-judge .product-vote .edit-mark {
  display: block !important;
}

.concept-judge .concept-vote .display-mark {
  display: none !important;
}
.concept-judge .concept-vote .edit-mark {
  display: block !important;
}

.display-mark progress.progress {
  margin: 18.85px 0;
}

td.project-title {
  vertical-align: middle !important;
}

.mini .panel-block.display-mark {
  border: 0;
}
