<div class="content">
  <section class="section">
  <h2>Users</h2>
  <%= link_to "Edit users", admin_users_path, class: ['button', 'is-light'] %>
  </section>

  <section class="section">
  <h2>Submissions</h2>
  <%= link_to "Edit submissions", admin_submissions_path, class: ['button', 'is-info', 'is-light'] %>
  </section>
</div>
