<div class="panel-block display-mark">
  <div class="level">
    <div class="level-left is-flex-grow-1">
      <div class="level-item is-flex-grow-1">
        <progress class="progress <%= vote.completed ? 'is-link' : 'is-info' %>" value="<%= vote.padded_mark %>" max="100"><%= vote.padded_mark %></progress>
      </div>
    </div>
    <div class="level-right"><span class="level-item"><%= vote.padded_mark %></span></div>
  </div>
</div>
