<p style="color: green"><%= notice %></p>

<h1>Votes</h1>

<div id="votes">
  <% @votes.each do |vote| %>
    <% if policy(vote).edit? %>
      <%= render "editable_vote", vote: vote %>
    <% else %>
      <%= render vote %>
    <% end %>
  <% end %>
</div>

<%= turbo_stream_from @submission, :votes %>
