<div class="content admin-submissions-ui" data-controller="filterable-submissions">
  <div class="columns">
    <div class="column is-5 is-offset-7">
      <div class="control has-icons-left">
        <input class="filter-input input search" type="text" placeholder="Filter" data-action="filterable-submissions#filter"/>
        <span class="icon is-left">
          <%= lucide_icon 'search', size: 16 %>
        </span>
      </div>
    </div>
  </div>

  <table class="table is-hoverable is-fullwidth">
    <colgroup>
      <col span="1" style="width: 15%;">
      <col span="1" style="width: 50%;">
      <col span="1" style="width: 15%;">
      <col span="1" style="width: 15%;">
      <col span="1" style="width: 5%;">
    </colgroup>

    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>URL</th>
        <th>Assigned to</th> <%# TODO: put the chosen track when the model would support this %>
        <th></th>
      </tr>
    </thead>

    <tbody class="list" id="submissions">
      <%= render collection: @submissions, partial: 'submissions/tr', as: :submission %>
    </tbody>
  </table>
</div>

<%= turbo_stream_from 'submissions' %>
