<div class="navbar-item">
  <p class="is-size-5">You're judging <%= link_to excellence_judgements_path do %>
    <%= Submission::HUMAN_READABLE_EXCELLENCE_TRACKS[track] %> Excellence Award</p>
  <% end %>
</div>
